<div class="lc">
  <div class="part-top"><%= gmaps4rails(@json) %></div>
</div>

<div class="rc">
  <%= form_tag({:controller => "parkings", :action => "index"}, :method => "get") do%>
      <div class="search">
        <%= text_field_tag('search', 'Введите адрес парковки', :class => 'field-adress', :onfocus=>"this.value=''") %>
      </div>

      <div class="dates">
        <div class="date-l">Заезд:</div>
            <div class="date-r">
              <%= text_field_tag 'day_start', 'Выберите дату', :class => 'date hasDatepicker', :size=>15, :maxlength => 10, :onfocus=>"this.value=''" %><%= select_tag "time_start", "<option value=''>и время...</option>".html_safe%>
            </div>
        <div class="block15">
          <div class="date-l">Выезд:</div>
          <div class="date-r">
            <%= text_field_tag 'day_end', 'Выберите дату', :class => 'date hasDatepicker', :size=>15, :maxlength => 10, :onfocus=>"this.value=''" %><%= select_tag "time_end", "<option value=''>и время...</option>".html_safe%>
          </div>
        </div>
      </div>
      <div class="go" align="center">
        <%= submit_tag("Искать", :class => "button") %>
      </div>
  <% end %>
</div>

<div class="part-btm">
  <div>
    <div class="look">
      <div class="title-l">Результаты поиска</div>
        <% @parkings.each do |parking| %>
              <div class="<%=cycle('result','result-gr') %>">
                <div class="result-l"><a href="#"><%= parking.name %></a></div>
                <div class="result-p"><%= parking.address %></div>
                <div class="result-t"><%= parking.description %></div>
                <div class="result-w"><%= parking.day_start %>-<%= parking.day_end %></div>
                <div class="result-c"><%= parking.price_per_hour %> р / час</div>
                <div class="result-e"><%= link_to 'Редактировать',edit_parking_path(parking) %></div>
                <div class="result-r"><a href="#">Бронировать</a></div>
              </div>
        <% end %>
      <div class="more">
        <%=will_paginate @parkings%>
      </div>
    </div>
  </div>
</div>