

<%= render ("map")  %>

<%= render ("search")  %>

<div class="part-btm">
  <div>
    <div class="look">
      <div class="title-l">Результаты поиска</div>
        <% @parkings.each do |parking| %>
              <div class="<%=cycle('result','result-gr') %>">
                <div class="result-l"><%= link_to parking.name, parking %></div>
                <div class="result-p"><%= parking.address %></div>
                <div class="result-t"><%= parking.description %></div>
                <div class="result-w"><%= parking.day_start %>-<%= parking.day_end %></div>
                <div class="result-c"><%= parking.price_per_hour %> р / час</div>
                <div class="result-e"><%= link_to 'Редактировать',edit_parking_path(parking)%></div>
                <div class="result-r"><%= link_to 'Бронировать', parking_path(parking) %></div>
              </div>
        <% end %>
      <div class="more">
        <%=will_paginate @parkings%>
      </div>
    </div>
  </div>
</div>