<%= render ("map") %>
<%= render ("search") %>
<div class="part-btm">
  <div class="lz">
    <div class="look">
      <div class="title-l"><%= @parking.name %></div>
      <div class="title-r"><%= @parking.price_per_hour %> р / час</div>
      <div class="adress"><%= @parking.address %></div>
      <div class="params"><span><%= image_tag("ico_time.png") %><%= @parking.day_start %>-<%= @parking.day_end %></span><span><%= image_tag("ico_roof.png") %><%= @parking.description %></span><span><%= image_tag("ico_phone.png") %><%= @parking.telephones %>
        ></span></div>
      <%= form_tag({:controller => "bookings", :action => "new"},:method => "get",:remote => true) do %>
          <div class="block15"><%= image_tag "ico_car.png", :class => "img", :style => "margin-right:8px" %><%= text_field_tag 'day_first', @day_first, :placeholder => 'Выберите дату', :class => 'datepicker_edit', :size => 15, :maxlength => 10 %><%= select_tag "data_start", select_tag_24_option(@data_start).html_safe %><%= text_field_tag 'day_last', @day_last, :placeholder => 'Выберите дату', :class => 'datepicker_edit', :size => 15, :maxlength => 10, :style => "margin-right:8px;" %><%= select_tag "data_end", select_tag_24_option(@data_end).html_safe %><%= image_tag "ico_car.png", :class => "img" %></div>
          <div class="block25"><%= image_tag "ico_back.png", :class => "img" %><%= link_to 'Вернуться к результатам поиска', :back, :class => "back" %>
            <%= hidden_field_tag 'new_booking', 'true'%>
            <%= hidden_field_tag 'parking_id', @parking.id%>
            <%= submit_tag("Бронировать") %>
          </div>
      <% end %>
    </div>
  </div>
  <%= render "nearparking" %>
</div>
